@charset "utf-8";

*{
	padding:0;
	margin:0;
	border:0;
	font-family:Arial, sans-serif;
}
.box{
	width: 100%;
	height: 15em;
	background-color: cornflowerblue;
	text-align:center;
}
.box h1{
	font-family: arial;
	text-align: center;
	padding-top: 2em
}
#header{
}
.expand{
	border-radius: 20px;
	width:10%;
	height:100px;
	color:black;
	background-color: royalblue;
	margin: 0 auto;
	transition: width 1.5s ease, height 1.5s ease, border-radius 1.5s ease, z-index .1s 1.5s linear;
	text-align:  center;
	overflow: hidden;
	position: absolute;
	float:right;
	z-index: 0;

	

}


.expand:hover{
	width:90%;
	height: 493px;
	border-radius:0;
	transition: width 1.5s ease, height 1.5s ease, border-radius 1.5s ease, z-index .1s linear;
	z-index: 2;	
}

.expand h1{
	position: relative;
	top:25%; 
	font-family: Arial;
	animation: fadein 1.5s .5s both;
}
.expand p {
	font-family: Arial;
	display: none;
	opacity: 0.0;
	z-index: 1;
}
.expand:hover p{
	animation: fadein 1.0s .5s forwards;
	display: block;

}
.expand:hover h1{
	animation: fadeout 0.5s;
	opacity:0.0;
}


.nolink:link{
	text-decoration: none;
	color:cadetblue;
}
.nolink:visited{
	text-decoration: none;
	color:initial;
}
.nolink:hover{
	text-decoration: none;
	color:initial;
}
.nolink:active{
	text-decoration: none;
	color:initial;
}
.arial{
	font-family: Arial, sans-serif;
}
.aqua{
	background: aqua;
}
.blue{
	background: blue;
	opacity: .5;
}

.parallax {
	perspective: 300px;
	height:100vh;
	overflow-x:hidden;
	overflow-y: auto;
}
.parallax_layer{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	
}
.parallax_layer--base{
	transform:translateZ(0);
	z-index:4;
}
.parallax_layer--back{
	transform:translateZ(-300px) scale(2);
	z-index:3;
}
.parallax_group{
	position: relative;
	height:100vh;
	transform-style: preserve-3d;
}

  .title {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
#group1{
	z-index:5;
}
#group2{
	z-index: 3;
}

@keyframes fadeout{
	from{opacity:1.0;}
	to {opacity:0.0;}
}
@keyframes fadein{
	from{opacity:0.0;}
	to {opacity:1.0;}
}
/* CSS Document */
@keyframes goback{
	from{z-index:2;}
	to{z-index: 0;}
}
