@charset "utf-8";

*{
	padding:0;
	margin:0;
	border:0;
	font-family:Arial, sans-serif;
}
body{
	margin: 0;
	border: 0;
	padding:0;
	background:#5B0094;
}
div{
	margin: 0;
	border: 0;
	padding: 0;
}
.box{
	width: 100%;
	height: 15em;
	background-color: cornflowerblue;
	text-align:center;
}
.box h1{
	font-family: arial;
	text-align: center;
	padding-top: 2em
}
#header{
}

footer{
	border-top: 2px dotted blue;
	font-family: Arial, sans-serif;
}
p{
	text-align: center;
	width: 100%;
	font-weight: 700;
}
.expand{
	border-radius: 20px;
	width:10%;
	height:100px;
	color:black;
	background-color: royalblue;
	margin: 0;
	transition: width 1.5s ease, height 1.5s ease, border-radius 1.5s ease, z-index .1s 1.5s linear;
	text-align:  center;
	overflow: hidden;
	position: relative;
	z-index: 0;
	text-shadow: 0 0 0 #000;
	align-self:initial;
	display:block;
	

}
.filler{
	widght:100%;
	height:1vh;
}
#box1::after{
	background-image:url("DR.Logo.jpg");
	background-clip: content-box;
	background-size: contain;
  content: "";
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
}
#box1:hover::after{
	background:cornflowerblue;
}
#box2{
 background-color:#127FDF;
}
.expand:hover{
	width:50%;
	height: 19%;
	border-radius:0;
	transition: width 1.5s ease, height 1.5s ease, border-radius 1.5s ease, z-index .1s linear;
	z-index: 0;	
}

.expand h1{
	position: relative;
	top:0;
	margin-top: 3.2vh;
	font-family: Arial;
	animation: fadein 1.5s .5s both;
	font-size: 3vw;

}
.expand p {
	font-family: Arial;
	display: none;
	opacity: 0.0;
	z-index: 1;
	
}
.expand:hover p{
	animation: fadein 1.0s .5s forwards;
	display: block;
	

}
.expand:hover h1{
	animation: fadeout 0.5s;
	opacity:0.0;
}

.floatleft{
	float:left;
}
.floatright{
	float:right;
}
.nolink:link{
	text-decoration: none;
	color:cadetblue;
}
.nolink:visited{
	text-decoration: none;
	color:initial;
}
.nolink:hover{
	text-decoration: none;
	color:initial;
}
.nolink:active{
	text-decoration: none;
	color:initial;
}
.arial{
	font-family: Arial, sans-serif;
}


  .title {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	  opacity: 1.0;
  }
	


.wrapper {
  /* The height needs to be set to a fixed value for the effect to work.
   * 100vh is the full height of the viewport. */
  height: 100vh;
	width:100vw;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  overflow-x: hidden;
  /* Enable scrolling on the page. */
  overflow-y: auto;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  perspective: 2px;
}
.boxllax{
	perspective: 2px;
	transform: translateZ(-1px) scale(1.6);
	
}
.section {
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: 100vh;
  width:100%;
  /* For text formatting. */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 5px #000;

}
.halfsection{
	  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: 85vh;
  width:100vw;
  /* For text formatting. */
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  text-shadow: 0 0 5px #000;
}
.parallax::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
 transform: translateZ(-1px) scale(1.6);
  /* Force the background image to fill the whole element. */
  background-size: 100%;
  /* Keep the image from overlapping sibling elements. */
  z-index: 5;
	
}

/* The styling for the static div. */
.static {
  height: 0;

}

/* Sets the actual background images to adorable kitties. This part is crucial. */
.bgtransition::after{
	background:blue;
}
.bg1::after {
  background-image: url("https://static.pexels.com/photos/110854/pexels-photo-110854.jpeg");
	/*background:white;
	background: #8049F5;*/
	
}

.bg2::after { 	
  background-image:url("4026southpaw.jpg") ;
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 2;   

	
}
.bg3::after{
	background:yellow;
}
.bg4::after{
	background:#005984;
}







@keyframes fadeout{
	from{opacity:1.0;}
	to {opacity:0.0;}
}
@keyframes fadein{
	from{opacity:0.0;}
	to {opacity:1.0;}
}
/* CSS Document */
@keyframes goback{
	from{z-index:2;}
	to{z-index: 0;}
}
