@charset "utf-8";

*{
	padding:0;
	margin:0;
	border:0;
}
#header{
	width: 100%;
	height: 15em;
	background-color: cornflowerblue;
}
#header h1{
	font-family: arial;
	text-align: center;
	padding-top: 2em
}
#box2{
	left:10%;
	background-color:#08FF34
}
.expand{
	border-radius: 20px;
	width:10%;
	height:100px;
	background-color: royalblue;
	margin: 0 auto;
	transition: width 1.5s ease, height 1.5s ease, border-radius 1.5s ease, z-index .1s 1.5s linear;
	text-align:  center;
	overflow: hidden;
	position: absolute;
	float:right;
	z-index: 0;

}
.expand:hover{
	width:90%;
	height: 493px;
	border-radius:0;
	transition: width 1.5s ease, height 1.5s ease, border-radius 1.5s ease, z-index .1s linear;
	z-index: 2;
	


	
}
.expand h1{
	position: relative;
	top:25%; 
	font-family: Arial;
	animation: fadein 1.5s .5s both;
}
.expand p {
	font-family: Arial;
	display: none;
	opacity: 0.0;
	z-index: 1;
}
.expand:hover p{
	animation: fadein 1.0s .5s forwards;
	display: block;

}
.expand:hover h1{
	animation: fadeout 0.5s;
	opacity:0.0;
}
@keyframes fadeout{
	from{opacity:1.0;}
	to {opacity:0.0;}
}
@keyframes fadein{
	from{opacity:0.0;}
	to {opacity:1.0;}
}
/* CSS Document */
@keyframes goback{
	from{z-index:2;}
	to{z-index: 0;}
}
